/* * {
    border: 1px solid grey;
    box-sizing: border-box;
} */
html {
    scroll-behavior: smooth;
}

/* Some resets */

input[type=text], input[type=email], button[type=submit], textarea {
    display: block;
}
h1, h2, ul {
    margin: 0;
}
li {
    list-style-type: none;
    padding: 10px 0;
}
a {
    text-decoration: none;
}

/* Font styling:*/

h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 1.5rem
}
h3, h4 {
    font-size: 1.25rem
}
p, li, a {
    font-size: 1rem;
}
p, a {
    font-family: "Source Sans Pro", sans-serif;
}
li, h3, h4, label {
    font-family: "Oswald", sans-serif;
}

/* Reusable CSS*/ 

.flex {
    display: flex;
}
.wrap {
    flex-wrap: wrap;
}
.column {
    flex-direction: column;
}
.gap-10 {
    gap: 10px;
}
.padding-10 {
    padding: 10px;
}
.padding-60 {
    padding: 60px;
}
.flex-start {
    justify-content: flex-start;
}
.center {
    justify-content: center;
}
.flex-end {
    justify-content: flex-end;
}
.space-between {
    justify-content: space-between;
}
.space-evenly {
    justify-content: space-evenly;
}
.space-around {
    justify-content: space-around;
}
.margin-0 {
    margin: 0;
}
.margin-auto {
    margin: auto;
}
.playfair {
    font-family: "Playfair Display SC", serif;
}
.source-sans-pro {
    font-family: 'Source Sans Pro', sans-serif;
}
.oswald {
    font-family: 'Oswald', sans-serif;
} 
.blue {
    color: #05347e
}
.bg-blue {
    background-color: #05347e;
}
.gray {
    color: #efefef;
}
.bg-gray {
    background-color: #efefef
}
.white {
    color: #ffffff;
}

/* Other CSS */


/* -"-There should be whitespace between the body content and the footer" */

main {
    margin-bottom: 10px;
}
/* "(Side menu) should remain a static width at all resolutions */
/* -"The remainder of the page should be taken up by items for sale with a small amount of whitespace between the main section and the menu." */

.product-menu {
    min-width: 250px;
    margin-bottom: 10px;
}

/*  */

/* Begin media queries */

@media (min-width:768px ) {
    .flex-mobile {
        display: flex;
    }
    .basis-75 {
        flex-basis: 75%;
    }
    .basis-25 {
        flex-basis: 25%;
    }
    .basis-50 {
        flex-basis: 50%;
    }
    .basis-33 {
        flex-basis: calc( 100% / 3);
    }

}

@media (min-width:768px) {

}

@media (min-width:992px) {

}

@media (min-width:1200px) {}